<div class="reservation-container">
  <mat-card class="reservation-card">
    <mat-card-content>
      <mat-card-header>
        <mat-card-title>New Reservation</mat-card-title>
      </mat-card-header>
      <form (ngSubmit)="addReservation()" [formGroup]="reservationForm">
        <div class="form-group">
          <mat-form-field>
            <mat-label>Select your vehicle</mat-label>
            <mat-select formControlName="vehicle">
              <mat-option value="1">KRA 12345</mat-option>
              <mat-option value="2">KRA 67890</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Select parking</mat-label>
            <mat-select formControlName="parking">
              <mat-option value="1">Parking Stradom</mat-option>
              <mat-option value="2">Parking Pod Wawelem</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Parking spot</mat-label>
            <input formControlName="spot" matInput required>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Pick reservation date</mat-label>
            <mat-date-range-input [rangePicker]="picker">
              <input matStartDate placeholder="Start date" formControlName="startDate">
              <input matEndDate placeholder="End date" formControlName="endDate">
            </mat-date-range-input>
            <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-date-range-picker #picker></mat-date-range-picker>
          </mat-form-field>
          <!--          <mat-form-field>-->
          <!--            <mat-label>Enter start time</mat-label>-->
          <!--            <input matInput type="time" placeholder="Enter start time" formControlName="startTime">-->
          <!--            <mat-icon matSuffix>schedule</mat-icon>-->
          <!--          </mat-form-field>-->
          <!--          <mat-form-field>-->
          <!--            <mat-label>Enter end time</mat-label>-->
          <!--            <input matInput type="time" placeholder="Enter end time" formControlName="endTime">-->
          <!--            <mat-icon matSuffix>schedule</mat-icon>-->
          <!--          </mat-form-field>-->
        </div>
        <button mat-raised-button color=primary type="submit">Create reservation</button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
